[submodule "node-chakracore"]
	path = node-chakracore
	url = https://github.com/ymusiychuk-lohika/node-chakracore.git
[submodule "lodash"]
	path = lodash
	url = https://github.com/ymusiychuk-lohika/lodash.git
[submodule "ChakraCore"]
	path = ChakraCore
	url = https://github.com/ymusiychuk-lohika/ChakraCore.git